/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Color options: I should probably just go plain and simple unless I reeeally get inspired
so, maybe white/light grey background with dark green/blue/red or black text

light grey: d6d6d6 or d3d3d3 or e0e0e0
green: 1A733E or 00682a
darker green: 004E20 or 174428
rusty red: 6C1D00 or 581801
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    line-height: 1.375em;
    background-color: #edf7f8;
    color: #264653;
    /* border: 5px outset #264653; */
}

main, section {
    padding-bottom: 25px;
}

h1 {
    font-weight: 400;
    font-size: 2.5em;
    text-shadow: 1px 1px 3px #666;
    padding: 10px;
} 

h2 {
    font-weight: 700;
    font-size: 1.5em;
}

a {
    color: #264653;
    font-size: 1.125em;
}

a:visited {
    color: darkcyan;
}

a:hover, a:focus {
    /*Removes underline upon hover*/
    text-decoration: none;
}

a:active {
    /*Selected link*/
    color: red;
}

button {
    border: none;
    font-family: inherit;
    background-color: darkcyan;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 3px solid rgba(0, 0, 0, .3);
    -webkit-transition: .42s opacity, .42s Font-size;
    -o-transition: .42s opacity, .42s Font-size;
    transition: .42s opacity, .42s Font-size;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.submit-button {
    border: none;
    font-family: inherit;
    background-color: darkcyan;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 3px solid rgba(0, 0, 0, .3);
    -webkit-transition: .42s opacity, .42s Font-size;
    -o-transition: .42s opacity, .42s Font-size;
    transition: .42s opacity, .42s Font-size;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.button {
    border: none;
    font-family: inherit;
    background-color: darkcyan;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 3px solid rgba(0, 0, 0, .3);
    -webkit-transition: .42s opacity, .42s Font-size;
    -o-transition: .42s opacity, .42s Font-size;
    transition: .42s opacity, .42s Font-size;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

button:hover, button:focus, 
.submit-button:hover, .submit-button:focus,
.button:hover, .button:focus {
    /*Turns mouse into pointing hand*/
    cursor: pointer;
    opacity: .8;
    font-size: 18px;
}

.about-button .button {
    color: whitesmoke;
}

/* .button_secondary {
    background-color: var(--secondary-color);
    color: var(--dark-grey);
} */

/* ---------------HEADER------------ */

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 10px;
    /* background-color: #e6e6e6; */
    border-bottom: 1px solid lightgray;
}

.page-header_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header_item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.nav-list {
    list-style-type: none;
}

.nav-list li {
    display: inline-block;
    margin-right: 15px;
    font-weight: 700;
}

.nav-list_item--active {
    text-decoration: none;
    /* opacity: .95; */
    font-size: 1.25em;
}

.logo {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

/* Next 4 chunks for main nav animation */
nav.main-nav a::before {
    /* position: absolute; */
    opacity: 0;
    font-size: 1.25em;
    top: 0px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.main-nav a::after {
    /* position: absolute; */
    opacity: 0;
    font-size: 1.25em;
    top: 0px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav.main-nav a::before {
    content: '{';
    left: 0px;
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
}

nav.main-nav a::after {
    content: '}';
    right: 0px;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
}

nav.main-nav a:hover::before, nav.main-nav a:hover::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
}

/* ---------FOOTER------------ */

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    border-top: 1px solid lightgray;
    margin-top: 35px;
    padding: 25px;
}

/* -----------HOME PAGE----------- */

.profile_portrait {
    float: left;
    width: 250px;
    margin: 35px;
    border-radius: 50%;
}

.profile, .about {
    max-width: 700px;
    margin: 0 auto;
}

span.profile_web {
    background-color: black;
    color: #e0b354;
}

.profile p {
    font-size: 1.125em;
}

.profile_portrait {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.profile_portrait:hover {
    -webkit-transform: scale(1.2);    
    -ms-transform: scale(1.2);    
        transform: scale(1.2);
}

/* -------------ABOUT PAGE----------- */

.about-grid h2, .about-header, .work-header {
    text-align: center;
}

.about-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.about-grid li {
    font-size: 1.25em;
    list-style-type: none;
    padding-bottom: 3px;
    text-align: center;
}

.about-grid li::first-letter {
    font-weight: 700;
}

.about-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 25px auto;
}

/* To change the sun's color */
@-webkit-keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
}
@keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
}

.sun {
    /* animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear; */
    /* ----Shorthand of all those:------ */
    -webkit-animation: 2s color-change infinite alternate linear;
            animation: 2s color-change infinite alternate linear;
}

/* To move or grow the 2 clouds */
@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(400px, 50px);
                transform: translate(400px, 50px);
    }
}
@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(400px, 50px);
                transform: translate(400px, 50px);
    }
}

@-webkit-keyframes cloud-grow {
    from {
        -webkit-transform: scale(1.5, 1.5);
                transform: scale(1.5, 1.5);
        -webkit-transform-origin: top left;
                transform-origin: top left;
    }
    to {
        -webkit-transform: scale(0.6, 0.6);
                transform: scale(0.6, 0.6);
        -webkit-transform-origin: top right;
                transform-origin: top right;
    }
}

@keyframes cloud-grow {
    from {
        -webkit-transform: scale(1.5, 1.5);
                transform: scale(1.5, 1.5);
        -webkit-transform-origin: top left;
                transform-origin: top left;
    }
    to {
        -webkit-transform: scale(0.6, 0.6);
                transform: scale(0.6, 0.6);
        -webkit-transform-origin: top right;
                transform-origin: top right;
    }
}

.cloud-front {
    -webkit-animation: 25s cloud-grow infinite alternate linear;
            animation: 25s cloud-grow infinite alternate linear;
    /* animation: 15s cloud-move infinite alternate linear; */
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}

table {
    margin: 0 auto;
    font-size: 1.125em;
    border: 1px solid lightgray;
}

td:nth-child(even) {
    text-align: center;
}

td {
    border: 1px solid lightgray;
    padding: 0 7px;
}

th {
    border: 1px solid lightgray;
    padding: 0 7px;
}

/* -------------WORK PAGE------------- */

/* grid fallback */
.project-list {
    display: inline-block;
    width: 33%;
}
.project-list_item {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
}

@supports (display: grid) {
    .project-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin: 5px;
        width: auto;
    }

    .project-list_item {
        background-color: lightgray;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        width: auto;
        min-height: auto;
        margin: 0;
        -webkit-box-shadow: 1px 1px 3px #666;
                box-shadow: 1px 1px 3px #666;
    }

    .project-list_item:last-child {
        -ms-grid-column: 3;
        grid-column: 3 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / 3;
    }
}

/* ----------CONTACT PAGE---------- */

.contact h2, .contact h1 {
    text-align: center;
}

.form-grid, .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 35px;
}

.form-grid_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 32px;
            flex: 0 1 32px;
}

.form-grid label {
    font-size: 1.25em;
}

.contact-info p {
    margin: 0;
}

/* ----------MEDIA QUERIES--------- */

@media all and (max-width: 500px) {
    .project-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .profile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .project-list {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

}

@media all and (max-width: 750px) {
    .project-list {
        gap: 10px;
    }
    .project-list_item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.25em;
    }
    .nav-list_item--active{
        font-size: 1.125em;
    }
    p {
        font-size: 1em;
    }
    a {
        font-size: 1em;
    }
    .about-grid li {
        font-size: 1em;
    }
    .profile p {
        font-size: 1em;
    }
    .about-grid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .nav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

@media all and (min-width: 1400px) {
    .project-list {
        margin: 0 200px;
        gap: 25px;
        font-size: 1.125em;
    }

    .contact-page {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 150px;
    }
    .profile p {
        font-size: 1.4em;
    }
}

@media all and (min-width: 1800px) {
    .project-list {
        margin: 0 400px;
    }
}